<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <h1>Chat Teste</h1>
    <div id="chat">

    </div><br>
    <input type="text" id="msg"><br>
    <input type="text" id="username" placeholder="coloque seu nome aqui"><br>
    <button onclick="enviar()">Enviar</button>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>




    const socket = io()

    function enviar() {
        const message = document.getElementById('msg')
        const name = document.getElementById('username')

        const msg = message.value
        const user = name.value

        socket.emit('msg', { msg: msg, user: user })
    }

socket.on('showmsg', (data) =>{
    console.log(data)
    const chat = document.getElementById('chat')
    const p = document.createElement('p')
    p.innerHTML = data.user + ': ' + data.msg
    chat.append(p)
})


    socket.on('disconnect', () => {
        console.log('Desconectado')
    })
</script>

</html>